<% @beers.each do |beer| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to beer.title, beer %></h2>
    <p class="date"><%= beer.created_at.strftime("%B, %d, %Y") %></p>
  </div>
<% end %> 