<p id="notice"><%= notice %></p>

<p>
  <strong>Occassion:</strong>
  <%= @occassion.occassion %>
</p>

<%= link_to 'Edit', edit_occassion_path(@occassion) %> |
<%= link_to 'Back', category_index_path %>
